.headers-main {
  height: 100vh;
//   position: relative;
  padding: 0 0;
// background: chartreuse;
  background-image: url(./wave1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.headers-title {
  margin: 15% 0 0 15%;

  > div {
    display: flex;
    width: 240px;
    color: #fff;
    transition: 0.5s all;

    &:nth-child(1) {
      position: relative;
      padding-bottom: 8px;

      > span {
        padding: 0 0 0 0;
        font-size: 35px;
        font-weight: 700;
      }

      > div {
        position: absolute;
        animation: header-title-line 2s linear infinite;
        bottom: 0;
        width: 40%;
        background: #fff;
        height: 3px;
      }
    }

    &:nth-child(2) {
      margin-top: 21px;
    }
  }

  > .headers-page-path {
    display: flex;
    align-items: center;

    > span {
      display: flex;
      align-items: center;
      font-weight: bold;
      &:nth-child(1) {
        padding-top: 0;
        font-size: 20px;
        margin-right: 8px;
      }
      &:nth-child(2) {
        font-size: 18px;
      }
    }
  }
}

.navs-logo {
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 25px;
  
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:nth-child(1) {
      animation: logo-ring-1 5s linear infinite;
    }
    &:nth-child(2) {
      animation: logo-ring-2 2s linear infinite;
    }
    &:nth-child(3) {
      animation: logo-ring-3 1s both linear infinite;
    }
  }
}

.navs-main {
    position: relative;
    top: 0;
    width: 100%;

    > div {
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
}

.navs-menu {
  display: flex;
  align-items: center;
  color: #fff;
  //   height: 80px;
  //   padding-top: 12px;

  > div {
      height: 100%;
      display: flex;
      align-items: center;
      letter-spacing: 0.5px;

    > div {
      display: flex;
      align-items: center;
      list-style: none;

      > span {
        cursor: pointer;
        height: 100%;
        transition: 0.3s all;
        font-size: 18px;
        font-weight: 600;
        margin-left: 20px;
        padding: 0 0 0 0;

        &:hover {
          font-weight: 900;
        }

        &.active {
          font-weight: 900;
        }
      }
    }
  }
}

@keyframes header-title-line {
  from {
    width: 30%;
  }
  50% {
    width: 40%;
  }
  to {
    width: 30%;
  }
}

@keyframes logo-ring-3 {
}

@keyframes logo-ring-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-ring-2 {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes nav-logo {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
